
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-haV {
  background-image: url('REPLACE_IMAGE:81544bf9e8c9c0c8e6de848ecd8ca8d50cd98416');
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ebebeb;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-position: center;

  .auto-group-kf41-kYm {
    box-sizing: border-box;
    padding: 3.9rem 2.7rem 44rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-8j37-B1o {
      width: 100%;
      height: 10.5rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 17.4rem;
      box-sizing: border-box;
      padding: 1.1rem 0.6rem 1rem 0.6rem;

      .frame-1-tS1 {
        position: relative;
        margin-right: 101.5rem;
        width: 36.6rem;
        height: 100%;
        overflow: hidden;

        .logo2-1-SCd {
          height: 8.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 41rem;
        }
      }
    }
    .local-talents-global-impact-YmT {
      line-height: 1.0875;
      font-family: Archivo Black, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 1.3rem 16.6rem;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.14rem;
      color: #615ef1;
      white-space: nowrap;
    }
    .hire-students-now-k6q {
      font-family: Archivo Black, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 6.4rem;
      line-height: 1.0875;
      letter-spacing: 0.512rem;
      color: #6c4acf;
      margin-left: 16.6rem;
      font-weight: 400;
    }
  }
  .auto-group-955o-eT7 {
    box-sizing: border-box;
    padding: 1.6rem 102.8rem 1.6rem 69.6rem;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:b81d6024988b04c16017fc0cd7cab8fd53997f7e');
    flex-shrink: 0;
    width: 100%;
    height: 25.1rem;
    align-items: flex-start;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-size: 100% 100%;

    .auto-group-nygy-kW9 {
      margin-right: 45.1rem;
      width: 47.4rem;
      height: 10.5rem;
      position: relative;
      flex-shrink: 0;

      .empowering-future-one-gig-at-a-time-Uh3 {
        line-height: 1.525;
        color: #000000;
        font-family: Bodoni Moda, 'Source Sans Pro';
        width: 44.8rem;
        position: absolute;
        left: 2.6rem;
        top: 6.8rem;
        font-size: 2.4rem;
        height: 3.7rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .campearn-ZiV {
        top: 0;
        font-weight: 400;
        font-family: Bodoni Moda, 'Source Sans Pro';
        height: 7.4rem;
        position: absolute;
        left: 0;
        font-size: 4.8rem;
        line-height: 1.525;
        color: #37353d;
        white-space: nowrap;
        width: 28.3rem;
      }
    }
    .image2024-02-11101327616-1-HPb {
      width: 44.9rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
